<section class="ms-3">
    <h1>{{name}}</h1>
    <p>Life: {{birthdate}} - {{deathdate}} </p>
    <hr>
    <p>Birthplace: {{birthplace}}</p>
    <p>Deathplace: {{deathplace}}</p>
    <p>Nationality: {{nationality}}</p>
    <p>Occupation: {{occupation}}</p>
    <hr>
    {{> title data="Famous for" big=false }}
    {{#each known_for}}
            <ul><li>{{this}}</li></ul>
    {{/each}}
    <br>
    {{#each education}}
            {{> title data="Education" big=false }}
            <p>Degree: {{degree}}</p>
            <p>Field: {{field}}</p>
            <p>Institution: {{institution}} </p>
            <p>Year: {{year}} </p>
    {{/each}}
    <br>
    {{> title data="Publications" big=false }}
    {{#each notable_publications}}
        <ul><li>
            <p>Title: {{title}}</p>
            <p>Year: {{year}}</p>
            <p>Publisher: {{publisher}} </p> 
        </li></ul>   
    {{/each}}
    <br>
    {{> title data="Partners" big=false }}
    {{#each partners}}
        <ul><li>
            <p>Name: {{name}}</p>
            <p>Relationship: {{relationship}}</p>
            <p>Years: {{years}}</p> 
        </li></ul>
    {{/each}}
    <br>
    {{#each awards}}
            {{> title data="Awards" big=false }}
            <p>Title: {{title}}</p>
            <p>Year: {{year}}</p>
            <p>Description: {{description}} </p>    
    {{/each}}
    <hr>
    {{> title data="Influences" big=false }}
    {{#each influences}}
            <ul><li>{{this}}</li></ul>
    {{/each}}
    <br>
    {{> title data="Influenced" big=false }}
    {{#each influenced}}
            <ul><li>{{this}}</li></ul>
    {{/each}}
    <br>
    {{> title data="Quotes" big=false }}
    {{#each quotes}}
            <ul><li><em><q>{{this}}</q></em></li></ul>
    {{/each}}
    <br>
    {{#each major_discoveries}}
            {{> title data="Major discoveries" big=false }}
            <p>Title: {{title}}</p>
            <p>Year: {{year}}</p>
            <p>Description: {{description}} </p>   
    {{/each}}
    <br>
    {{#with contributions}}
            {{> title data="Contributions" big=false }}
            <p>Title: {{title}}</p>
            <p>Description: {{description}} </p>
            <p>Year: {{year}}</p> 
            <p>Field: {{field}} </p>   
    {{/with}}
    <br>
</section>