<main>
{{#with newsBlock}}
  <h1 class="text-center mt-5">{{title}} </h1>
{{> shoppost}}
{{/with}}
<hr class="my-4">
{{#with goodsBlock}}
  <ul class="nav nav-tabs mb-2">
  {{#each tabs}}
    <li class="nav-item">
      <a class="nav-link {{#if isActive}}active{{/if}} {{#if isDisabled}}disabled{{/if}}" aria-current="page">{{text}} </a>
    </li>
  {{/each}}
  </ul>

{{>shopcard}}
{{/with}}
<hr class="my-5">
{{#with subscribe}}
<div class="card">
  <div class="card-body bg-dark text-light">
    <h2>{{header}} </h2>
    <p class="m-1">{{description}} </p>
    {{#each buttons}}
    <div class="row">
    <a
      href='{{link}}'
      class='btn btn-primary col-3 m-1'
    >{{text}} </a>
    </div>
    {{/each}}
  </div>
</div>
{{/with}}
</main>