<main>
{{#with newsBlock}}
  <h1 class="text-center mt-5">{{title}} </h1>
  <div class="row g-0">
    {{#each cards}}
        <div class="col-sm-3 mb-2 me-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                {{title}}
                {{#if isNew}}<span class="badge text-bg-success">Нова</span>{{/if}}
                {{#if isTop}}<span class="badge text-bg-danger">Топ</span>{{/if}}
              </h5>
              <p class="card-text">{{description}}</p>
            </div>
          </div>
        </div>
    {{/each}}
  </div>
{{/with}}
<hr class="my-4">
{{#with goodsBlock}}
  <ul class="nav nav-tabs mb-2">
  {{#each tabs}}
    <li class="nav-item">
      <a class="nav-link {{#if isActive}}active{{/if}} {{#if isDisabled}}disabled{{/if}}" aria-current="page">{{text}} </a>
    </li>
  {{/each}}
  </ul>

{{>shopcard}}
{{/with}}
<hr class="my-5">
{{#with subscribe}}
<div class="card">
  <div class="card-body bg-dark text-light">
    <h2>{{header}} </h2>
    <p class="m-1">{{description}} </p>
    {{#each buttons}}
    <div class="row">
    <a
      href='{{link}}'
      class='btn btn-primary col-3 m-1'
    >{{text}} </a>
    </div>
    {{/each}}
  </div>
</div>
{{/with}}
</main>