<main>
{{> title data=header big=true }}

<div class="row mb-0">
  <div class="col-8">
    {{#with contacts_data}}
    {{> title data=title big=false }}
      {{#each buttons}}
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        {{#if isPrimary}} <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <label class="btn btn-warning" for="btnradio1">{{text}} </label>
        {{/if}}

        {{#if isOutline}} <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn btn-outline-warning" for="btnradio2">{{text}}</label>
        {{/if}}
      </div>
      {{/each}}

      {{#with form}}
        <div class="row mt-3">
          <div class="card">
            <div class="mb-3">
              <div class="row">
                {{#each input}}
                <div class="col-6">
                  <label class="form-label mt-1">{{label}} </label>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="{{placeholder}}">
                  </div>
                  <div class="form-text">{{caption}} </div>
                </div>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
        <hr class="my-3">
        {{#each switch}}
        {{#if isActive}}
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
          <label class="form-check-label" for="flexSwitchCheckChecked">{{text}} </label>
        </div>
        {{else}}
        <div class="form-check form-switch my-2">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">{{text}} </label>
        </div>
        {{/if}}
        {{/each}}
      {{/with}}
        <hr class="my-3">
    {{/with}}

    <div class="row">
      <div class="col-12">
      {{#with delivery}}
        {{> title data=title big=false }}
        <div class="card mt-2">
          <div class="row">
            {{#each select}}
            <div class="col-6">
              <section class="input-group mb-3 py-1">
                <label class="form-label mt-1">{{label}} </label>
                <div>
                <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon">
                <option selected>{{placeholder}} </option>
                {{#each options}}
                <option value="{{value}}">{{text}} </option>
                {{/each}}
                </select>
                </div>
              </section>
            </div>
            {{/each}}
          </div>
        </div>
        
        {{#each delivery_type}}
        <div class="form-check m-2">
          <input class="form-check-input" type="radio" name="flexRadioDefault" checked>
          <label class="form-check-label" for="flexRadioDefault1">
            {{type}}
          </label>
        </div>
        {{/each}}
        <hr class="my-3">

        {{#with payment}}
        {{> title data=title big=false }}
        {{#each list}}
        <div class="form-check m-2">
          <input class="form-check-input" type="radio" name="flexRadioDefault" checked>
          <label class="form-check-label" for="flexRadioDefault1">
            {{type}}
          </label>
          <div class="form-text">{{description}} </div>
        </div>
        {{/each}}
        {{/with}}
        <hr class="my-3">
        
        <div class="row mb-0">
          <div class="col-12">
            {{#with contact}}
            {{> title data=title big=false }}
                <div class="row mt-3">
                  <div class="card">
                    <div class="mb-3">
                      <div class="row">
                        {{#each this}}
                        <div class="col-6">
                          <label class="form-label mt-1">{{label}} </label>
                          <div class="input-group">
                            <input type="text" class="form-control" placeholder="{{placeholder}}">
                          </div>
                          <div class="form-text">{{caption}} </div>
                        </div>
                        {{/each}}
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-3">
            {{/with}}
          </div>
         </div>

         {{#with coment}}
          <div class="col-12">
            <label class="form-label mt-1">{{label}} </label>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="{{placeholder}}">
            </div>
          </div>
         {{/with}}
         <hr class="my-3">

      {{/with}}
      </div>
    </div>

    <div class="row">
      <div class="col-12">
      {{#with coupon}}
        {{> title data=title big=false }}
          <div class="row">
            {{#each select}}
            <div class="col-12">
              <section class="input-group mb-3 py-1">
                <label class="form-label mt-1 col-12">{{label}} </label>
                <div>
                <select class="form-select m-0 col-12">
                <option selected>{{placeholder}} </option>
                {{#each options}}
                <option value="{{value}}">{{text}} </option>
                {{/each}}
                </select>
                </div>
              </section>
            </div>
            {{/each}}

            {{#with add}}
            <div class="col-12">
                <div class="col-12">
                  {{#each this}}
                  <label class="form-label mt-1">{{label}} </label>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="{{placeholder}}">
                  </div>
                  <div class="form-text">{{caption}} </div>
                {{/each}}
                </div>
            </div>
            {{/with}}
          </div>
        {{/with}}
      </div>
    </div>
    <hr class="my-3">

Qu
    <div class="row">
      <div class="col-12">
      {{#with quiz}}
        {{> title data=title big=false }}
          <div class="row">
            {{#with preference}}
            <p class="mt-3 mb-1">{{title}} </p>
              {{#each options}}
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" checked>
                  <label class="form-check-label" for="flexRadioDefault1">
                    {{this}}
                  </label>
                </div>
              {{/each}}
            {{/with}}

            {{#with your_expirience}}
              <p class="mt-3 mb-1">{{label}} </p>
              <input type="text" class="form-control col-12">
            {{/with}}

            {{#with purchase_frequency}}
              <p class="mt-3 mb-1">{{label}} </p>
              <select class="form-select m-0 col-12">
                <option selected>{{placeholder}} </option>
                {{#each options}}
                <option value="{{value}}">{{text}} </option>
                {{/each}}
                </select>
            {{/with}}

            {{#with factors}}
              <p class="mt-3 mb-1">{{title}} </p>
              {{#each options}}
              <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label" for="flexCheckDefault">
                  {{this}}
                </label>
              </div>
              {{/each}}
            {{/with}}
          </div>
      {{/with}}
      </div>
    </div>

  </div>

    <div class="col-4">
      <div class="card mb-2">
      {{#with action_block}}
        {{#each this}}
          <div class="btn-group p-2" role="group">
            {{#if isSuccess}} <input type="button" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-success" for="btnradio1">{{text}} </label>
            {{/if}}

            {{#if isDanger}} <input type="button" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-danger" for="btnradio2">{{text}}</label>
            {{/if}}

            {{#if isInfo}} <input type="button" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-info" for="btnradio2">{{text}}</label>
            {{/if}}
          </div>
        {{/each}}
      {{/with}}
      </div>

        {{#with total}}
          <div class="card">
            <h5 class="card-header">{{title}} </h5>
            <div class="card-body">
              {{#each item_list}}
              <p class="card-text">{{name}}: {{price}} </p>
              {{/each}}
              <hr class="m-1">
              {{#each additional_info}}
              <p class="card-text">{{text}}: {{value}} </p>
              {{/each}}
              <hr class="m-1">
              {{#with total_price}}
              <p class="card-text">{{text}}: {{value}} </p>
              {{/with}}
              <hr class="m-1">
              {{#each button}}
                {{#if isPrimary}}
                  <button type="button" class="btn btn-primary m-1">{{text}}</button>
                {{/if}}
                {{#if isOutline}}
                  <button type="button" class="btn btn-outline-primary m-1">{{text}} </button>
                {{/if}}
              {{/each}}
            </div>
          </div>
        {{/with}}
    </div>


  </div>

</main>